Repository wwbrannon/arl: changes, and which Codecov flags are due for each by the changed paths.
All: r-code, rye-code, Compiler, Runtime, Parser/Tokenizer, Module System, Stdlib Core, Stdlib Collections, Stdlib Functional

suppress spurious warnings in tests
  R/module-cache.R
Due: r-code, Module System

fix cache invalidation for coverage-instrumented code and missing car in set
  R/engine.R
  R/module-cache.R
  inst/arl/load-order.txt
  inst/arl/set.arl
  tests/testthat/test-module-cache.R
Due: r-code, Module System

update some docs
  TODO
  man/Engine.Rd
  vignettes/lang-collections.Rmd
Due: none

notes about ways to improve module system
  module-improvements.md
Due: none

Fix defmacro to accept empty parameter lists
  R/compiler.R
  tests/testthat/test-macros.R
Due: r-code, Compiler

Enforce top-level-only imports
  R/compiler.R
  module-improvements.md
  tests/testthat/test-import-toplevel.R
Due: r-code, Compiler

Add prelude system: 11 essential modules loaded by default, others require import
  AGENTS.md
  R/cli.R
  R/engine.R
  R/runtime.R
  README.Rmd
  README.md
  inst/arl/binding.arl
  inst/arl/control.arl
  inst/arl/equality.arl
  inst/arl/load-order.txt
  inst/arl/prelude-modules.txt
  inst/arl/sequences.arl
  inst/arl/threading.arl
  inst/reference-docs.dcf
  man/Engine.Rd
  tests/testthat/helper-engine.R
  tests/testthat/helper-native.R
  tests/testthat/test-compiler-optimizations.R
  tests/testthat/test-compiler-tco.R
  tests/testthat/test-documentation.R
  tests/testthat/test-engine-api.R
  tests/testthat/test-examples.R
  tests/testthat/test-import-stdlib.R
  tests/testthat/test-inspect-compilation.R
  tests/testthat/test-knitr-engine.R
  tests/testthat/test-module-scoping.R
  tests/testthat/test-parser.R
  tests/testthat/test-reader-edge-cases.R
  tests/testthat/test-source-positions.R
  tests/testthat/test-stdlib-format.R
  tests/testthat/test-tokenizer.R
  tests/testthat/test-write.R
  tools/docs/templates/reference.Rmd.jinja
  vignettes/getting-started.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-reference.Rmd
  vignettes/modules.Rmd
Due: r-code, Runtime

Fix doc annotations lost during nested module imports
  R/runtime.R
  tests/testthat/test-documentation.R
Due: r-code, Runtime

Prevent doc! from setting attributes on base R functions
  R/engine.R
  tests/testthat/test-documentation.R
Due: r-code

Replace copy-based module imports with reference-based proxy environments
  R/engine.R
  R/env.R
  R/module-cache.R
  R/module-registry.R
  R/runtime.R
  R/utils.R
  tests/testthat/helper-engine.R
  tests/testthat/test-cache-options.R
  tests/testthat/test-coverage.R
  tests/testthat/test-import-selective.R
  tests/testthat/test-module-cache.R
  tests/testthat/test-module-registry.R
  tests/testthat/test-runtime.R
  tools/coverage/arl-coverage.R
Due: r-code, Runtime, Module System

Switch toplevel_env tests from squash mode to proxy mode
  tests/testthat/helper-engine.R
  tests/testthat/test-stdlib-collections.R
  tests/testthat/test-stdlib-control.R
  tests/testthat/test-stdlib-core.R
  tests/testthat/test-stdlib-debug.R
  tests/testthat/test-stdlib-dispatch.R
  tests/testthat/test-stdlib-edge-cases.R
  tests/testthat/test-stdlib-edge-functions.R
  tests/testthat/test-stdlib-edge-list.R
  tests/testthat/test-stdlib-edge-predicates.R
  tests/testthat/test-stdlib-edge-sequences.R
  tests/testthat/test-stdlib-format.R
  tests/testthat/test-stdlib-functional.R
  tests/testthat/test-stdlib-list.R
  tests/testthat/test-stdlib-macros.R
  tests/testthat/test-stdlib-math.R
  tests/testthat/test-stdlib-predicates.R
  tests/testthat/test-stdlib-sequences.R
  tests/testthat/test-stdlib-strings.R
Due: none

Fix vignette build: load full stdlib in knitr engine, fix try syntax
  R/knitr-engine.R
  vignettes/getting-started.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-math.Rmd
  vignettes/macros.Rmd
  vignettes/r-interop.Rmd
Due: r-code

Remove unused ... parameter from Engine$new()
  R/engine.R
  man/Engine.Rd
Due: r-code

Implement cross-module macro scoping via value splicing
  NAMESPACE
  R/compiler.R
  R/engine.R
  R/macro.R
  R/module-cache.R
  R/runtime.R
  tests/testthat/test-module-scoping.R
Due: r-code, Compiler, Runtime, Module System

Consolidate standalone functions into R6 class methods
  R/module-cache.R
  R/module-registry.R
  R/runtime.R
Due: r-code, Runtime, Module System

Add tests for define/set!/doc! interactions with proxy-imported bindings
  tests/testthat/test-import-binding-interactions.R
Due: none

Implement re-export for modules (#6)
  R/compiler.R
  R/engine.R
  R/module-cache.R
  R/runtime.R
  tests/testthat/test-load.R
  tests/testthat/test-module-cache.R
  tests/testthat/test-reexport.R
  tests/testthat/test-runtime.R
Due: r-code, Compiler, Runtime, Module System

Exclude _-prefixed names from export-all (#8)
  R/help-system.R
  R/runtime.R
  module-improvements.md
  tests/testthat/test-reexport.R
  vignettes/modules.Rmd
Due: r-code, Runtime

Reserve import-runtime special form for future conditional imports (#11)
  R/compiler.R
  module-improvements.md
  tests/testthat/test-import-edge-cases.R
Due: r-code, Compiler

Add dynamic R search path tracking via r_packages parameter
  R/engine.R
  module-improvements.md
  tests/testthat/test-module-scoping.R
Due: r-code

Standardize _ prefix for module-private helpers, fix cache-path export bug
  R/engine.R
  inst/arl/_utils.arl
  inst/arl/assert.arl
  inst/arl/control.arl
  inst/arl/dict.arl
  inst/arl/display.arl
  inst/arl/equality.arl
  inst/arl/functional.arl
  inst/arl/io.arl
  inst/arl/list.arl
  inst/arl/load-order.txt
  inst/arl/looping.arl
  inst/arl/prelude-modules.txt
  inst/arl/sequences.arl
  inst/arl/sort.arl
  inst/arl/strings.arl
  tests/testthat/test-module-cache.R
  tests/testthat/test-stdlib-edge-cases.R
  tests/testthat/test-stdlib-list.R
Due: r-code

implement reloading for modules
  R/compiler.R
  R/engine.R
  R/module-registry.R
  R/runtime.R
  TODO
  module-improvements.md
  tests/testthat/test-reload.R
Due: r-code, Compiler, Runtime, Module System

Remove _r.arl module, inline _rget into core.arl
  R/doc-parser.R
  inst/arl/_r.arl
  inst/arl/_utils.arl
  inst/arl/core.arl
  inst/arl/equality.arl
  inst/arl/list.arl
  inst/arl/math.arl
  inst/arl/sort.arl
  inst/arl/types.arl
  tests/testthat/test-file-deps.R
  tools/docs/generate-lang-docs.R
  vignettes/lang-reference.Rmd
Due: r-code

Standardize __ to _ prefix in stdlib docstrings, fix vignette build errors
  inst/arl/assert.arl
  inst/arl/core.arl
  inst/arl/dict.arl
  inst/arl/equality.arl
  inst/arl/io.arl
  inst/arl/load-order.txt
  inst/arl/looping.arl
  inst/arl/set.arl
  inst/arl/struct.arl
  inst/reference-docs.dcf
  vignettes/lang-collections.Rmd
  vignettes/lang-control.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-math.Rmd
  vignettes/lang-reference.Rmd
  vignettes/lang-strings-io.Rmd
  vignettes/lang-types.Rmd
  vignettes/macros.Rmd
Due: none

Add vignette {arl} chunk evaluation test
  Makefile
  tests/testthat/test-vignette-arl-chunks.R
Due: none

Fix bad-aif vignette assertion and suppress expected test warnings
  tests/testthat/test-vignette-arl-chunks.R
  vignettes/macros.Rmd
Due: none

Fix namespace? example using undefined variable in reference docs
  inst/reference-docs.dcf
  vignettes/lang-core.Rmd
Due: none

Fix three compiler bugs: strength reduction side effects, nesting depth restoration, flatten bounds
  R/compiler.R
  tests/testthat/test-compiler-optimizations.R
Due: r-code, Compiler

Deduplicate compiler and module finalization code
  R/compiler.R
  R/engine.R
  R/runtime.R
Due: r-code, Compiler, Runtime

Fix documentation accuracy: prelude vs stdlib, module count, typos
  AGENTS.md
  README.Rmd
  tools/docs/templates/reference.Rmd.jinja
  vignettes/lang-reference.Rmd
  vignettes/modules.Rmd
  vignettes/tail-call-optimization.Rmd
Due: none

Fix CONTRIBUTING.md and PERFORMANCE.md doc improvements
  CONTRIBUTING.md
  benchmarks/PERFORMANCE.md
Due: none

Add design docs for compiler architecture and module system
  inst/design-docs/COMPILER_ARCHITECTURE.md
  inst/design-docs/MODULE_SYSTEM.md
Due: none

Fix vignette accuracy: getting-started, arl-vs-scheme, r-interop
  vignettes/arl-vs-scheme.Rmd
  vignettes/getting-started.Rmd
  vignettes/r-interop.Rmd
Due: none

Remove stale module-improvements.md design doc
  module-improvements.md
Due: none

Prepare v0.1.0 release: docs, metadata, and quality fixes
  AGENTS.md
  CONTRIBUTING.md
  NEWS.md
  R/coverage.R
  R/macro.R
  README.Rmd
  README.md
  _pkgdown.yml
  benchmarks/PERFORMANCE.md
  index.md
  man/CoverageTracker.Rd
Due: r-code, Compiler

Remove redundant manual state restore and bare on.exit() in compiler
  R/compiler.R
Due: r-code, Compiler

Extract shared macro parameter binding into bind_param helper
  R/macro.R
Due: r-code, Compiler

Path conditions:
  r-code: any of: R/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  rye-code: any of: inst/rye/, tests/native/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Compiler: any of: R/compiler.R, R/macro.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Runtime: any of: R/runtime.R, R/rye-engine.R, R/rye-env.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Parser/Tokenizer: any of: R/parser.R, R/tokenizer.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Module System: any of: R/module-*.R, R/file-deps.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Core: any of: inst/rye/core.rye, inst/rye/types.rye, inst/rye/logic.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Collections: any of: inst/rye/list.rye, inst/rye/dict.rye, inst/rye/set.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Functional: any of: inst/rye/functional.rye, inst/rye/looping.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
