Repository wwbrannon/arl: changes, and which Codecov flags are due for each by the changed paths.
All: r-code, rye-code, Compiler, Runtime, Parser/Tokenizer, Module System, Stdlib Core, Stdlib Collections, Stdlib Functional

add dependabot config for monthly GitHub Actions updates
  .github/dependabot.yml
Due: none

improve documentation site with custom styling, redesigned homepage, and benchmarks page
  _pkgdown.yml
  index.md
  pkgdown/extra.css
  vignettes/benchmarks.Rmd
Due: none

remove homepage sidebar and move badges into main content
  _pkgdown.yml
  index.md
  pkgdown/extra.css
Due: none

lay out Quick Examples as 2x2 grid and Install as side-by-side cards
  index.md
  pkgdown/extra.css
Due: none

equalize card heights within Quick Examples and Install grids
  pkgdown/extra.css
Due: none

fix homepage examples: use mtcars for lm, drop unnecessary import
  index.md
Due: none

fix duplicate HTML anchors in generated stdlib docs
  tools/docs/generate-stdlib-docs.R
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-functional.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
Due: none

suppress doc warnings for __-prefixed internal exports
  tools/docs/generate-stdlib-docs.R
Due: none

merge Key Features and Learn More into single Features & Guides section
  index.md
Due: none

fix badges layout: move into own section outside Install grid
  index.md
  pkgdown/extra.css
Due: none

fix content width
  pkgdown/extra.css
Due: none

center hero heading and justify intro paragraphs
  pkgdown/extra.css
Due: none

add tail call optimization vignette
  _pkgdown.yml
  index.md
  vignettes/tail-call-optimization.Rmd
Due: none

move slugify and load_builtins into DocParser class
  R/doc-parser.R
  tools/docs/generate-stdlib-docs.R
Due: r-code

add @internal annotation tag to exclude functions from generated docs
  R/doc-parser.R
  inst/arl/list.arl
  tools/docs/generate-stdlib-docs.R
  vignettes/stdlib-list-seq.Rmd
Due: r-code

ensure install_cli always warns when target dir is not on PATH
  R/cli.R
  tests/testthat/test-cli.R
Due: r-code

replace old-style inline docstrings with ;;' annotation comments
  README.Rmd
  README.md
  inst/arl/math.arl
  inst/arl/struct.arl
  inst/examples/macro-examples.arl
  inst/examples/pipeline-macros.arl
  vignettes/getting-started.Rmd
  vignettes/macros.Rmd
  vignettes/modules.Rmd
Due: none

update generate-stdlib-docs.R
  R/doc-parser.R
  tools/docs/generate-stdlib-docs.R
  tools/docs/stdlib-docs.dcf
  vignettes/stdlib-reference.Rmd
Due: r-code

migrate all vignettes to arl_html_vignette with knitr engine
  NAMESPACE
  R/doc-parser.R
  inst/arl/assert.arl
  inst/arl/conversions.arl
  inst/arl/core.arl
  inst/arl/equality.arl
  inst/arl/error.arl
  inst/arl/io.arl
  inst/arl/r-interop.arl
  inst/arl/sort.arl
  inst/arl/threading.arl
  inst/arl/types.arl
  tools/docs/generate-stdlib-docs.R
  vignettes/arl-vs-scheme.Rmd
  vignettes/benchmarks.Rmd
  vignettes/examples.Rmd
  vignettes/getting-started.Rmd
  vignettes/internals.Rmd
  vignettes/macros.Rmd
  vignettes/modules.Rmd
  vignettes/r-interop.Rmd
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-functional.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-reference.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
  vignettes/tail-call-optimization.Rmd
  vignettes/troubleshooting.Rmd
Due: r-code

remove some obsolete vignette content
  inst/arl/conversions.arl
  inst/arl/equality.arl
  inst/arl/math.arl
  vignettes/internals.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-math.Rmd
Due: none

update and expand macro vignette
  vignettes/macros.Rmd
Due: none

propagate @internal and @noeval flags to runtime arl_doc attributes
  R/compiler.R
  R/engine.R
  tests/testthat/test-doc-parser.R
  tests/testthat/test-documentation.R
Due: r-code, Compiler

update variable names
  vignettes/internals.Rmd
  vignettes/tail-call-optimization.Rmd
Due: none

fix doc inconsistencies after and/or/while promotion to special forms
  AGENTS.md
  README.Rmd
  inst/arl/looping.arl
  tools/docs/generate-stdlib-docs.R
  vignettes/internals.Rmd
  vignettes/modules.Rmd
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-reference.Rmd
Due: none

update TODO
  TODO
Due: none

pandoc syntax definition for arl
  inst/pandoc/arl.xml
Due: none

knitr engine for arl w/ syntax highlighting
  R/knitr-engine.R
  man/arl_html_vignette.Rd
  man/register_knitr_engine.Rd
  tests/testthat/test-knitr-engine.R
Due: r-code

fix keyword matching for Lisp-style identifiers in syntax definition
  inst/pandoc/arl.xml
Due: none

use arl language tag instead of lisp in examples vignette
  vignettes/examples.Rmd
Due: none

remove noisy cli output from tests
  tests/testthat/test-cli.R
Due: none

interleave source and output in knitr {arl} chunks
  R/knitr-engine.R
  tests/testthat/test-knitr-engine.R
Due: r-code

fix site build errors
  R/knitr-engine.R
  _pkgdown.yml
Due: r-code

split examples into per-example pkgdown pages with navbar dropdown
  .Rbuildignore
  Makefile
  _pkgdown.yml
  vignettes/articles/examples-data-analysis.Rmd
  vignettes/articles/examples-fibonacci.Rmd
  vignettes/articles/examples-fizzbuzz.Rmd
  vignettes/articles/examples-graph-paths.Rmd
  vignettes/articles/examples-log-parser.Rmd
  vignettes/articles/examples-macro-examples.Rmd
  vignettes/articles/examples-pipeline-macros.Rmd
  vignettes/articles/examples-quicksort.Rmd
  vignettes/articles/examples-sales-report.Rmd
  vignettes/articles/examples-task-runner.Rmd
Due: none

add pkgdown as_is: true to preserve arl syntax highlighting
  tools/docs/generate-stdlib-docs.R
  vignettes/arl-vs-scheme.Rmd
  vignettes/benchmarks.Rmd
  vignettes/examples.Rmd
  vignettes/getting-started.Rmd
  vignettes/internals.Rmd
  vignettes/macros.Rmd
  vignettes/modules.Rmd
  vignettes/r-interop.Rmd
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-functional.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-reference.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
  vignettes/tail-call-optimization.Rmd
  vignettes/troubleshooting.Rmd
Due: none

regenerate docs
  README.md
  man/arl_html_vignette.Rd
Due: none

better styling for syntax highlighting
  pkgdown/extra.css
Due: none

change header name
  _pkgdown.yml
Due: none

hide internal function
  inst/arl/math.arl
  vignettes/stdlib-math.Rmd
Due: none

remove default_engine singleton in favor of Engine$new()
  .claude/agents/doc-reviewer.md
  NAMESPACE
  R/engine.R
  _pkgdown.yml
  man/default_engine.Rd
  tests/testthat/test-api-boundaries.R
Due: r-code

Path conditions:
  r-code: any of: R/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  rye-code: any of: inst/rye/, tests/native/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Compiler: any of: R/compiler.R, R/macro.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Runtime: any of: R/runtime.R, R/rye-engine.R, R/rye-env.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Parser/Tokenizer: any of: R/parser.R, R/tokenizer.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Module System: any of: R/module-*.R, R/file-deps.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Core: any of: inst/rye/core.rye, inst/rye/types.rye, inst/rye/logic.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Collections: any of: inst/rye/list.rye, inst/rye/dict.rye, inst/rye/set.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Functional: any of: inst/rye/functional.rye, inst/rye/looping.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
