Repository wwbrannon/arl: changes, and which Codecov flags are due for each by the changed paths.
All: r-code, rye-code, Compiler, Runtime, Parser/Tokenizer, Module System, Stdlib Core, Stdlib Collections, Stdlib Functional

Add design docs for cons cells and macro hygiene
  inst/design-docs/cons-cells.md
  inst/design-docs/macro-hygiene.md
Due: none

Performance: byte-compile hot builtins, optimize _as-list and cache hashing
  R/engine.R
  R/module-cache.R
  R/runtime.R
  inst/arl/_utils.arl
Due: r-code, Runtime, Module System

Simplify .__true_p: use isFALSE for the logical FALSE check
  R/runtime.R
Due: r-code, Runtime

Prefix all R6 class strings with "Arl" and remove r6_isinstance
  R/cells.R
  R/cli.R
  R/compiler.R
  R/coverage.R
  R/doc-parser.R
  R/engine.R
  R/env.R
  R/file-deps.R
  R/help-system.R
  R/macro.R
  R/module-cache.R
  R/module-registry.R
  R/parser.R
  R/repl.R
  R/runtime.R
  R/source-tracker.R
  R/tokenizer.R
  R/utils.R
  tests/testthat/test-api-boundaries.R
  tests/testthat/test-coverage.R
  tests/testthat/test-help.R
  tests/testthat/test-knitr-engine.R
  tests/testthat/test-module-registry.R
  tests/testthat/test-parser.R
  tests/testthat/test-runtime.R
  tests/testthat/test-special-forms.R
  tests/testthat/test-stdlib-format.R
  tests/testthat/test-stdlib-list.R
Due: r-code, Compiler, Runtime, Parser/Tokenizer, Module System

Bypass .__assign_pattern for simple define/set! names
  R/compiler.R
  R/engine.R
  R/env.R
  R/module-registry.R
  R/runtime.R
  R/utils.R
Due: r-code, Compiler, Runtime, Module System

Squash R package environments into a single flat env
  R/engine.R
  tests/testthat/test-module-scoping.R
Due: r-code

Move car/cdr/cons from Arl stdlib to byte-compiled R builtins
  R/engine.R
  inst/arl/binding.arl
  inst/arl/control.arl
  inst/arl/dict.arl
  inst/arl/display.arl
  inst/arl/equality.arl
  inst/arl/functional.arl
  inst/arl/list.arl
  inst/arl/load-order.txt
  inst/arl/looping.arl
  inst/arl/r-interop.arl
  inst/arl/sequences.arl
  inst/arl/set.arl
  inst/arl/sort.arl
  inst/arl/strings.arl
  inst/arl/threading.arl
  inst/reference-docs.dcf
  vignettes/lang-list-seq.Rmd
  vignettes/lang-reference.Rmd
Due: r-code

regenerate docs
  NAMESPACE
  NEWS.md
  man/CoverageTracker.Rd
  man/Engine.Rd
Due: none

Add missing imports to examples and fix benchmark string ops
  benchmarks/bench-stdlib.R
  inst/design_docs/hot-path-analysis.md
  inst/examples/data-analysis.arl
  inst/examples/fibonacci.arl
  inst/examples/fizzbuzz.arl
  inst/examples/graph-paths.arl
  inst/examples/log-parser.arl
  inst/examples/macro-examples.arl
  inst/examples/pipeline-macros.arl
  inst/examples/quicksort.arl
  inst/examples/sales-report.arl
  inst/examples/task-runner.arl
  tests/testthat/test-examples.R
Due: none

Optimize hot paths in tokenizer, parser, and compiler
  R/compiler.R
  R/parser.R
  R/tokenizer.R
  TODO
Due: r-code, Compiler, Parser/Tokenizer

Add benchmark results for d858dfa
  dev/bench/data.js
Due: none

Fix duplicate sections in generated vignettes
  R/doc-parser.R
  TODO
  inst/arl/conversions.arl
  inst/arl/list.arl
  vignettes/lang-list-seq.Rmd
  vignettes/lang-types.Rmd
Due: r-code

Fix CI failures across all three default workflows
  .github/workflows/benchmarks.yaml
  .github/workflows/coverage.yaml
  R/coverage.R
  R/module-cache.R
  tests/testthat/test-coverage.R
  tests/testthat/test-stdlib-io.R
Due: r-code, Module System

add Benchmark (customSmallerIsBetter) benchmark result for 9ca24ae1298f150ad063dc19623f17a4b91707c1
  dev/bench/data.js
  dev/bench/index.html
Due: none

Normalize temp file paths in coverage tests for macOS/Windows compat
  tests/testthat/test-coverage.R
Due: none

Normalize path early in load_file_in_env for consistent coverage keys
  R/engine.R
Due: r-code

Fix norm_path to resolve symlinks for non-existent files
  tests/testthat/test-coverage.R
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 173589a3bfd30bac6d2b50998c9e6e7485c7b98e
  dev/bench/data.js
Due: none

Fix install_cli PATH test to work under covr instrumentation
  tests/testthat/test-cli.R
Due: none

Harden coverage tracker and test infrastructure for cross-platform reliability
  R/coverage.R
  R/engine.R
  R/utils.R
  tests/testthat/test-cli.R
  tests/testthat/test-coverage.R
Due: r-code

Fix variadic_eq NaN handling and add disable_constant_folding option
  R/engine.R
  tests/testthat/test-compiler-optimizations.R
  vignettes/runtime-options.Rmd
Due: r-code

Add disable toggles for 6 compiler optimizations and disable_optimizations master switch
  R/compiler.R
  R/engine.R
  man/Engine.Rd
  tests/testthat/test-compiler-optimizations.R
  vignettes/runtime-options.Rmd
Due: r-code, Compiler

add Benchmark (customSmallerIsBetter) benchmark result for bcc35b3a1d0c994e345ac9984c150603cbb00aa5
  dev/bench/data.js
Due: none

clarify comment
  tests/native/test-strings-extended.arl
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4f362864d9bd06ba1060d9eb391395cf75199e5e
  dev/bench/data.js
Due: none

Improve stdlib doc comments and fix vignette accuracy issues
  README.md
  inst/arl/binding.arl
  inst/arl/control.arl
  inst/arl/dict.arl
  inst/arl/display.arl
  inst/arl/list.arl
  inst/arl/looping.arl
  inst/arl/math.arl
  inst/arl/sequences.arl
  inst/arl/strings.arl
  vignettes/getting-started.Rmd
  vignettes/lang-collections.Rmd
  vignettes/lang-control.Rmd
  vignettes/lang-list-seq.Rmd
  vignettes/lang-math.Rmd
  vignettes/lang-strings-io.Rmd
  vignettes/tail-call-optimization.Rmd
Due: none

Add @param documentation tags to all stdlib functions
  R/compiler.R
  R/doc-parser.R
  inst/arl/assert.arl
  inst/arl/binding.arl
  inst/arl/control.arl
  inst/arl/conversions.arl
  inst/arl/core.arl
  inst/arl/dict.arl
  inst/arl/display.arl
  inst/arl/equality.arl
  inst/arl/functional.arl
  inst/arl/io.arl
  inst/arl/list.arl
  inst/arl/logic.arl
  inst/arl/looping.arl
  inst/arl/math.arl
  inst/arl/r-interop.arl
  inst/arl/sequences.arl
  inst/arl/set.arl
  inst/arl/sort.arl
  inst/arl/strings.arl
  inst/arl/struct.arl
  inst/arl/threading.arl
  inst/arl/types.arl
  tests/testthat/test-doc-parser.R
  tools/docs/generate-lang-docs.R
  tools/docs/templates/topic.Rmd.jinja
  vignettes/lang-collections.Rmd
  vignettes/lang-control.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-functional.Rmd
  vignettes/lang-list-seq.Rmd
  vignettes/lang-math.Rmd
  vignettes/lang-strings-io.Rmd
  vignettes/lang-types.Rmd
Due: r-code, Compiler

fix codecov yaml format
  codecov.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 0ef6dbc887908b31fc7bb29c1307c82f00771fab
  dev/bench/data.js
Due: none

Fix module cache invalidation: TOCTOU race, compiler flags, stale cleanup
  R/engine.R
  R/module-cache.R
  R/runtime.R
  tests/testthat/test-module-cache.R
Due: r-code, Runtime, Module System

fix codecov upload configuration
  .github/workflows/coverage.yaml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 2ebf5489f1765368a084c652ef95cbb398ef77dd
  dev/bench/data.js
Due: none

update codecov url
  README.Rmd
  README.md
Due: none

Pre-release quality pass: fix O(n^2) stdlib, gensym safety, docs, code quality
  .lintr
  DESCRIPTION
  NEWS.md
  R/compiler.R
  R/engine.R
  R/macro.R
  R/runtime.R
  README.Rmd
  inst/arl/dict.arl
  inst/arl/equality.arl
  inst/arl/functional.arl
  inst/arl/list.arl
  inst/arl/sequences.arl
  inst/arl/sort.arl
  tests/testthat/test-api-boundaries.R
  vignettes/getting-started.Rmd
  vignettes/troubleshooting.Rmd
Due: r-code, Compiler, Runtime

Fix documentation errors: wrong module names, non-existent API, misattributed exports
  README.Rmd
  README.md
  man/Engine.Rd
  vignettes/getting-started.Rmd
  vignettes/troubleshooting.Rmd
Due: none

Fix remaining O(n^2) stdlib hotspots in equality and sequences
  inst/arl/equality.arl
  inst/arl/sequences.arl
Due: none

Remove dead code from compiler, runtime, and file-deps
  R/compiler.R
  R/file-deps.R
  R/runtime.R
  tests/testthat/test-runtime.R
Due: r-code, Compiler, Runtime, Module System

update badges
  .github/workflows/check.yaml
  README.Rmd
  README.md
  pkgdown/templates/footer.html
Due: none

Fix documentation accuracy issues and improve durability
  .claude/agents/doc-reviewer.md
  AGENTS.md
  CONTRIBUTING.md
  README.Rmd
  benchmarks/README.md
  inst/design-docs/cache-invalidation.md
  inst/design-docs/compiler-architecture.md
  inst/design-docs/cons-cells.md
  inst/design-docs/coverage-tracker-tests.md
  inst/design-docs/execution-coverage.md
  inst/design-docs/hot-path-analysis.md
  inst/design-docs/macro-hygiene.md
  inst/design-docs/module-system.md
Due: none

Fix set!/define on locked bindings and deduplicate assignment logic
  R/env.R
  R/runtime.R
  tests/testthat/test-assignment-edge-cases.R
Due: r-code, Runtime

Path conditions:
  r-code: any of: R/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  rye-code: any of: inst/rye/, tests/native/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Compiler: any of: R/compiler.R, R/macro.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Runtime: any of: R/runtime.R, R/rye-engine.R, R/rye-env.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Parser/Tokenizer: any of: R/parser.R, R/tokenizer.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Module System: any of: R/module-*.R, R/file-deps.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Core: any of: inst/rye/core.rye, inst/rye/types.rye, inst/rye/logic.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Collections: any of: inst/rye/list.rye, inst/rye/dict.rye, inst/rye/set.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Functional: any of: inst/rye/functional.rye, inst/rye/looping.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
