Repository wwbrannon/arl: changes, and which Codecov flags are due for each by the changed paths.
All: Compiler, Runtime, Parser/Tokenizer, Module System, Stdlib Core, Stdlib Collections, Stdlib Functional

Extract Compiler$gensym method to deduplicate 4x fallback pattern
  R/compiler.R
Due: Compiler

Move Compiler gensym to private, remove dead fallback
  R/compiler.R
Due: Compiler

Fix equal? type guard: pass args separately to check-s3-type-match
  inst/arl/equality.arl
  tests/native/test-equality-extended.arl
Due: none

Performance: infix arithmetic, bytecode caching, remove dead _utils module
  R/compiler.R
  R/engine.R
  R/module-cache.R
  inst/arl/_utils.arl
  inst/arl/dict.arl
  inst/arl/display.arl
  inst/arl/equality.arl
  inst/arl/functional.arl
  inst/arl/list.arl
  inst/arl/load-order.txt
  inst/arl/looping.arl
  inst/arl/sequences.arl
  inst/arl/sort.arl
  inst/arl/strings.arl
  tests/testthat/test-module-cache.R
  tests/testthat/test-stdlib-list.R
Due: Compiler, Runtime, Module System, Stdlib Collections, Stdlib Functional

Doc and formatting cleanup: vignette imports, long lines, style fixes
  R/compiler.R
  R/coverage.R
  R/engine.R
  R/env.R
  R/help-system.R
  R/macro.R
  R/module-cache.R
  R/repl.R
  R/runtime.R
  tests/testthat/test-compiler.R
  tests/testthat/test-stdlib-edge-cases.R
  tests/testthat/test-stdlib-edge-functions.R
  tests/testthat/test-stdlib-edge-list.R
  tests/testthat/test-stdlib-edge-predicates.R
  tests/testthat/test-stdlib-edge-sequences.R
  tools/docs/templates/reference.Rmd.jinja
  tools/docs/templates/topic.Rmd.jinja
  vignettes/functions.Rmd
  vignettes/getting-started.Rmd
  vignettes/lang-collections.Rmd
  vignettes/lang-control.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-functional.Rmd
  vignettes/lang-list-seq.Rmd
  vignettes/lang-math.Rmd
  vignettes/lang-reference.Rmd
  vignettes/lang-strings-io.Rmd
  vignettes/lang-types.Rmd
  vignettes/macros.Rmd
Due: Compiler, Runtime, Module System

CRAN compliance: restore options, use \donttest in examples
  R/coverage.R
  R/knitr-engine.R
  man/CoverageTracker.Rd
  man/register_knitr_engine.Rd
Due: none

Add 31 new stdlib functions across 6 modules
  inst/arl/dict.arl
  inst/arl/functional.arl
  inst/arl/sequences.arl
  inst/arl/set.arl
  inst/arl/strings.arl
  inst/arl/threading.arl
  tests/testthat/test-stdlib-dict-new.R
  tests/testthat/test-stdlib-functional-new.R
  tests/testthat/test-stdlib-sequences-new.R
  tests/testthat/test-stdlib-set-new.R
  tests/testthat/test-stdlib-strings-new.R
  tests/testthat/test-stdlib-threading-new.R
  vignettes/lang-collections.Rmd
  vignettes/lang-control.Rmd
  vignettes/lang-functional.Rmd
  vignettes/lang-list-seq.Rmd
  vignettes/lang-reference.Rmd
  vignettes/lang-strings-io.Rmd
Due: Stdlib Collections, Stdlib Functional

Guard unlock_binding against non-owned environments
  R/engine.R
  R/env.R
  R/macro.R
  R/module-registry.R
  R/runtime.R
  R/utils.R
Due: Compiler, Runtime, Module System

Use R_user_dir for cache and history; bump R >= 4.0
  DESCRIPTION
  R/coverage.R
  R/module-cache.R
  R/repl.R
  R/utils.R
  man/CoverageTracker.Rd
  tests/testthat/test-module-cache.R
  tests/testthat/test-repl.R
Due: Module System

Replace quit() with arl_cli_error condition for CRAN compliance
  R/cli.R
  exec/arl
  tests/testthat/test-cli.R
Due: none

Overhaul CLI wrapper: advisory install_cli(), Windows support, fix inst path
  AGENTS.md
  Makefile
  R/cli.R
  README.Rmd
  README.md
  inst/bin/posix/arl
  inst/bin/windows/arl.bat
  man/install_cli.Rd
  tests/testthat/test-cli.R
  vignettes/getting-started.Rmd
  vignettes/runtime-options.Rmd
Due: none

Move module cache to tools::R_user_dir() for CRAN compliance
  Makefile
  R/module-cache.R
  R/utils.R
  inst/design-docs/cache-invalidation.md
  inst/design-docs/module-system.md
  tests/testthat/test-module-cache.R
Due: Module System

Fix REPL history: stop clobbering, collapse multiline, bound growth, dedup
  R/repl.R
  tests/testthat/test-repl.R
Due: none

Make CoverageTracker example runnable for CRAN compliance
  R/coverage.R
  man/CoverageTracker.Rd
Due: none

Tighten introductory prose across README, index, and getting-started
  DESCRIPTION
  README.Rmd
  README.md
  index.md
  vignettes/getting-started.Rmd
Due: none

Fix stale references in AGENTS.md and design docs
  AGENTS.md
  inst/design-docs/cache-invalidation.md
  inst/design-docs/cons-cells.md
  inst/design-docs/module-system.md
Due: none

Fix some-> and some->> to respect Arl truthiness rules
  inst/arl/threading.arl
  tests/testthat/test-stdlib-threading.R
Due: none

Fix O(n²) list-building in append, flatten, and make-list
  inst/arl/list.arl
  inst/arl/sequences.arl
Due: Stdlib Collections

Fix CLI not finding default R packages (stats, datasets, etc.)
  inst/bin/posix/arl
  inst/bin/windows/arl.bat
Due: none

Consolidate test files: 80 → 61 files, all 4557 tests preserved
  TODO
  tests/testthat/test-cache-options.R
  tests/testthat/test-compiler.R
  tests/testthat/test-file-deps.R
  tests/testthat/test-first-class-modules.R
  tests/testthat/test-import-selective.R
  tests/testthat/test-inspect-compilation.R
  tests/testthat/test-integration.R
  tests/testthat/test-module-cache.R
  tests/testthat/test-module-registry.R
  tests/testthat/test-module-scoping.R
  tests/testthat/test-namespace-nodes.R
  tests/testthat/test-qualified-access.R
  tests/testthat/test-runtime.R
  tests/testthat/test-stdlib-collections.R
  tests/testthat/test-stdlib-control.R
  tests/testthat/test-stdlib-core.R
  tests/testthat/test-stdlib-debug.R
  tests/testthat/test-stdlib-dict.R
  tests/testthat/test-stdlib-edge-cases.R
  tests/testthat/test-stdlib-edge-functions.R
  tests/testthat/test-stdlib-edge-list.R
  tests/testthat/test-stdlib-edge-predicates.R
  tests/testthat/test-stdlib-edge-sequences.R
  tests/testthat/test-stdlib-functional-new.R
  tests/testthat/test-stdlib-functional.R
  tests/testthat/test-stdlib-list.R
  tests/testthat/test-stdlib-looping.R
  tests/testthat/test-stdlib-predicates.R
  tests/testthat/test-stdlib-sequences-new.R
  tests/testthat/test-stdlib-sequences.R
  tests/testthat/test-stdlib-set.R
  tests/testthat/test-stdlib-strings-new.R
  tests/testthat/test-stdlib-strings.R
  tests/testthat/test-stdlib-struct.R
  tests/testthat/test-stdlib-threading-new.R
  tests/testthat/test-stdlib-threading.R
  tests/testthat/test-topological-sort.R
  tests/testthat/test-utils.R
Due: none

fix vignette index entries
  vignettes/articles/examples-data-analysis.Rmd
  vignettes/articles/examples-fibonacci.Rmd
  vignettes/articles/examples-fizzbuzz.Rmd
  vignettes/articles/examples-graph-paths.Rmd
  vignettes/articles/examples-log-parser.Rmd
  vignettes/articles/examples-macro-examples.Rmd
  vignettes/articles/examples-pipeline-macros.Rmd
  vignettes/articles/examples-quicksort.Rmd
  vignettes/articles/examples-sales-report.Rmd
  vignettes/articles/examples-task-runner.Rmd
Due: none

update Engine man page with new args
  man/Engine.Rd
Due: none

remove outdated option
  vignettes/runtime-options.Rmd
Due: none

remove redundant fields
  DESCRIPTION
Due: none

Refine REPL history: deferred loadhistory, cached dir check, cleanup
  R/repl.R
  tests/testthat/test-repl.R
Due: none

Exclude tools/, TODO, and build/ from package tarball
  .Rbuildignore
Due: none

Wrap Engine and CoverageTracker examples in \donttest{}
  R/coverage.R
  R/engine.R
  man/CoverageTracker.Rd
  man/Engine.Rd
Due: Runtime

make DESCRIPTION fields match CRAN's format
  DESCRIPTION
Due: none

add value tag CRAN expects
  R/knitr-engine.R
  man/register_knitr_engine.Rd
Due: none

exclude design docs from built package
  .Rbuildignore
Due: none

update email
  DESCRIPTION
  TODO
Due: none

run donttest examples in make check
  Makefile
Due: none

update README wording
  README.Rmd
  README.md
Due: none

update index.md prose
  TODO
  index.md
Due: none

fix typo
  index.md
Due: none

move todos out of repo
  .gitignore
  TODO
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 36ae4dbb446703cf3b8e27fdc2d4f940f251ce28
  dev/bench/data.js
Due: none

zenodo config file
  .Rbuildignore
  .zenodo.json
Due: none

remove some badges
  README.Rmd
  README.md
Due: none

add citation files
  CITATION.cff
  inst/CITATION
Due: none

Path conditions:
  Compiler: any of: R/compiler.R, R/macro.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**, inst/arl/.arl_cache/**
  Runtime: any of: R/runtime.R, R/engine.R, R/env.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**, inst/arl/.arl_cache/**
  Parser/Tokenizer: any of: R/parser.R, R/tokenizer.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**, inst/arl/.arl_cache/**
  Module System: any of: R/module-*.R, R/file-deps.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**, inst/arl/.arl_cache/**
  Stdlib Core: any of: inst/arl/core.arl, inst/arl/types.arl, inst/arl/logic.arl, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**, inst/arl/.arl_cache/**
  Stdlib Collections: any of: inst/arl/list.arl, inst/arl/dict.arl, inst/arl/set.arl, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**, inst/arl/.arl_cache/**
  Stdlib Functional: any of: inst/arl/functional.arl, inst/arl/looping.arl, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**, inst/arl/.arl_cache/**
