Repository wwbrannon/arl: changes, and which Codecov flags are due for each by the changed paths.
All: r-code, rye-code, Compiler, Runtime, Parser/Tokenizer, Module System, Stdlib Core, Stdlib Collections, Stdlib Functional

Add codecov badges to README
  README.Rmd
  README.md
Due: none

fix _pkgdown.yml
  _pkgdown.yml
Due: none

Implement execution coverage tracking for Rye code
  NAMESPACE
  R/coverage.R
  R/runtime.R
  R/rye-engine.R
  TODO
  inst/doc/EXECUTION_COVERAGE.md
  man/RyeCoverageTracker.Rd
  man/RyeEngine.Rd
  tools/rye-coverage.R
Due: r-code, Runtime

close test coverage gap of logic.rye
  tests/native/test-logic.rye
Due: none

update TODO
  TODO
Due: none

fix duplicate test name
  tests/native/test-equality-types.rye
Due: none

fix isolation bug in native test harness: each file should be run in its own engine environment
  tests/testthat/helper-native.R
Due: none

expand test coverage of equality.rye
  tests/native/test-equality-extended.rye
Due: none

fix bug in check-s3-type-match
  inst/rye/equality.rye
Due: rye-code

move explanatory comments
  inst/rye/control.rye
  inst/rye/logic.rye
Due: rye-code, Stdlib Core

fix bug in coverage tracker's detection of code lines
  R/coverage.R
  TODO
Due: r-code

don't keep coverage/ dir hanging around
  .gitignore
  Makefile
  TODO
  coverage/.gitkeep
Due: none

fix coverage tracking bug: exclude non-code lines from coverage ranges
  R/coverage.R
  TODO
Due: r-code

fix undeclared dependencies and pin suggests versions
  .Rbuildignore
  DESCRIPTION
Due: none

make RyeCoverageTracker flexible for external users
  R/coverage.R
  man/RyeCoverageTracker.Rd
Due: r-code

move design docs from inst/doc to inst/design-docs
  inst/design-docs/CACHE_INVALIDATION.md
  inst/design-docs/EXECUTION_COVERAGE.md
  tests/testthat/test-cache-options.R
Due: none

unit tests for RyeCoverageTracker
  DESCRIPTION
  TODO
  inst/design-docs/COVERAGE_TRACKER_TESTS.md
  tests/testthat/test-coverage.R
Due: none

fix several small semantic bugs that had been hardcoded into tests
  R/help-system.R
  R/macro.R
  R/runtime.R
  inst/rye/control.rye
  inst/rye/conversions.rye
  inst/rye/types.rye
  tests/native/test-coercion.rye
  tests/native/test-cons.rye
  tests/native/test-logic.rye
  tests/testthat/_snaps/examples.md
  tests/testthat/test-compiler.R
  tests/testthat/test-help.R
  tests/testthat/test-runtime.R
  tests/testthat/test-stdlib-control.R
  tests/testthat/test-stdlib-conversions.R
  tests/testthat/test-stdlib-list.R
  tests/testthat/test-stdlib-math.R
  tests/testthat/test-stdlib-predicates.R
Due: r-code, rye-code, Compiler, Runtime, Stdlib Core

check in test auditor agent and local claude settings
  .claude/agents/test-auditor.md
  .claude/settings.local.json
  .gitignore
Due: none

check in performance critic agent
  .claude/agents/performance-critic.md
Due: none

implement Tier 1 performance optimizations (1-4)
  R/runtime.R
  R/rye-engine.R
  R/tokenizer.R
  tests/testthat/test-compiler.R
  tests/testthat/test-examples.R
  tests/testthat/test-special-forms.R
Due: r-code, Runtime, Parser/Tokenizer

implement Tier 2 performance optimizations (5-8)
  R/module-registry.R
  R/runtime.R
  R/rye-engine.R
  R/rye-env.R
Due: r-code, Runtime, Module System

implement Tier 3 performance optimizations (9-10)
  R/runtime.R
  R/rye-engine.R
Due: r-code, Runtime

rewrite tokenizer from char-at-a-time loop to regex-based lexing
  R/tokenizer.R
Due: r-code, Parser/Tokenizer

implement self-tail-call optimization in compiler
  R/compiler.R
  TODO
  tests/testthat/test-compiler-tco.R
Due: r-code, Compiler

extend self-TCO to support destructuring params, keyword args, and rest params
  R/compiler.R
  tests/testthat/test-compiler-tco.R
Due: r-code, Compiler

extend self-TCO to support pattern rest params and let/letrec tail calls
  R/compiler.R
  tests/testthat/test-compiler-tco.R
Due: r-code, Compiler

fix TCO test descriptions and make bail-path tests non-vacuous
  tests/testthat/test-compiler-tco.R
Due: none

update documentation and comments for self-TCO support
  .claude/agents/performance-critic.md
  .claude/agents/test-auditor.md
  AGENTS.md
  README.Rmd
  README.md
  inst/examples/fibonacci.rye
  optimization-opportunities.md
  tests/native/test-operators.rye
  vignettes/rye-vs-scheme.Rmd
  vignettes/stdlib-control.Rmd
Due: none

add src_inherit to TCO rewrite for error source locations
  R/compiler.R
  README.Rmd
  README.md
  tests/testthat/test-compiler-tco.R
  vignettes/rye-vs-scheme.Rmd
Due: r-code, Compiler

correctly populate coverage/R/summary.txt
  Makefile
  TODO
Due: none

make linter output more useful
  .lintr
  R/cli.R
Due: r-code

fix coverage tracking to instrument at call time, not definition time
  R/compiler.R
  R/runtime.R
  R/rye-engine.R
  tests/testthat/test-coverage.R
Due: r-code, Compiler, Runtime

fix CLAUDE.md include
  CLAUDE.md
Due: none

add branch-level coverage tracking for if expressions
  R/compiler.R
  tests/testthat/test-coverage.R
Due: r-code, Compiler

use AST-derived coverable lines as coverage denominator
  R/compiler.R
  R/coverage.R
  R/runtime.R
Due: r-code, Compiler, Runtime

register coverable lines for top-level expressions in eval_seq_compiled
  R/rye-engine.R
Due: r-code, Runtime

add stdlib tests to close coverage gaps (95.2% → 99.1%)
  tests/testthat/test-stdlib-control.R
  tests/testthat/test-stdlib-conversions.R
  tests/testthat/test-stdlib-core.R
  tests/testthat/test-stdlib-edge-cases.R
  tests/testthat/test-stdlib-functional.R
  tests/testthat/test-stdlib-io.R
  tests/testthat/test-stdlib-list.R
  tests/testthat/test-stdlib-math.R
  tests/testthat/test-stdlib-sequences.R
  tests/testthat/test-stdlib-strings.R
Due: none

fix case macro to use Scheme semantics, remove duplicate repeatedly, fix str() no-args
  inst/examples/fizzbuzz.rye
  inst/rye/control.rye
  inst/rye/display.rye
  inst/rye/functional.rye
  tests/testthat/test-macros.R
  tests/testthat/test-stdlib-control.R
  tests/testthat/test-stdlib-edge-cases.R
  tests/testthat/test-stdlib-functional.R
  tests/testthat/test-stdlib-strings.R
Due: rye-code, Stdlib Functional

Path conditions:
  r-code: any of: R/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  rye-code: any of: inst/rye/, tests/native/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Compiler: any of: R/compiler.R, R/macro.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Runtime: any of: R/runtime.R, R/rye-engine.R, R/rye-env.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Parser/Tokenizer: any of: R/parser.R, R/tokenizer.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Module System: any of: R/module-*.R, R/file-deps.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Core: any of: inst/rye/core.rye, inst/rye/types.rye, inst/rye/logic.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Collections: any of: inst/rye/list.rye, inst/rye/dict.rye, inst/rye/set.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Functional: any of: inst/rye/functional.rye, inst/rye/looping.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
