Repository wwbrannon/arl: changes, and which Codecov flags are due for each by the changed paths.
All: r-code, rye-code, Compiler, Runtime, Parser/Tokenizer, Module System, Stdlib Core, Stdlib Collections, Stdlib Functional

fix load-with-runtime-error test to use an actual error, add division-by-zero Inf tests
  tests/testthat/test-error-messages.R
  tests/testthat/test-import-edge-cases.R
  tests/testthat/test-stdlib-math.R
Due: none

add comprehensive tests for stable-sort and merge
  inst/rye/equality.rye
  inst/rye/list.rye
  inst/rye/sort.rye
  tests/native/test-list-extended.rye
  tests/testthat/test-stdlib-list.R
  tests/testthat/test-stdlib-sort.R
Due: rye-code, Stdlib Collections

fix (= NULL NULL) to return #t instead of logical(0)
  R/repl.R
  inst/rye/load-order.rds
  inst/rye/math.rye
  tests/testthat/test-stdlib-predicates.R
Due: r-code, rye-code

update man page
  man/RyeCoverageTracker.Rd
Due: none

fix test audit issues: stdlib bugs, weak assertions, Scheme conformance
  R/compiler.R
  inst/rye/control.rye
  inst/rye/equality.rye
  inst/rye/list.rye
  inst/rye/math.rye
  inst/rye/sequences.rye
  inst/rye/strings.rye
  tests/testthat/test-error-messages.R
  tests/testthat/test-import-edge-cases.R
  tests/testthat/test-inspect-compilation.R
  tests/testthat/test-reader-edge-cases.R
  tests/testthat/test-source-positions.R
  tests/testthat/test-stdlib-control.R
  tests/testthat/test-stdlib-dispatch.R
  tests/testthat/test-stdlib-list.R
  tests/testthat/test-stdlib-math.R
  tests/testthat/test-stdlib-predicates.R
  tests/testthat/test-stdlib-sequences.R
  tests/testthat/test-stdlib-strings.R
Due: r-code, rye-code, Compiler, Stdlib Collections

code reviewer agent
  .claude/agents/code-quality-reviewer.md
Due: none

correctly gate macro debug code
  R/macro.R
Due: r-code, Compiler

remove empty else block
  R/compiler.R
Due: r-code, Compiler

gitignore more things
  .gitignore
Due: none

remove old plan file
  optimization-opportunities.md
Due: none

reduce duplication, fix quadratic growth, clean up lint and dead code
  R/cells.R
  R/compiler.R
  R/file-deps.R
  R/macro.R
  R/parser.R
  R/runtime.R
  R/rye-engine.R
  R/source-tracker.R
  R/utils.R
  tests/testthat/_problems/test-benchmarks-163.R
  tests/testthat/_problems/test-examples-33.R
  tests/testthat/_problems/test-examples-41.R
  tests/testthat/_problems/test-examples-49.R
  tests/testthat/_problems/test-examples-57.R
  tests/testthat/_problems/test-examples-89.R
  tests/testthat/_problems/test-stdlib-edge-cases-332.R
  tests/testthat/_problems/test-stdlib-edge-cases-91.R
  tests/testthat/_problems/test-stdlib-edge-cases-92.R
Due: r-code, Compiler, Runtime, Parser/Tokenizer, Module System

suppress false-positive object_usage_linter warnings in tests and benchmarks
  benchmarks/compare-results.R
  benchmarks/workloads.R
  tests/testthat/helper-native.R
  tests/testthat/test-compiler.R
  tests/testthat/test-examples.R
  tests/testthat/test-stdlib-edge-cases.R
  tests/testthat/test-stdlib-edge-functions.R
  tests/testthat/test-stdlib-edge-list.R
  tests/testthat/test-stdlib-edge-predicates.R
  tests/testthat/test-stdlib-edge-sequences.R
Due: none

refactor freestanding helpers into class private methods
  R/compiler.R
  R/runtime.R
  R/utils.R
Due: r-code, Compiler, Runtime

fix R CMD check NOTE for unsafe unlockBinding call
  R/runtime.R
Due: r-code, Runtime

extract shared quasiquote walker into R/quasiquote.R
  R/macro.R
  R/quasiquote.R
  R/runtime.R
Due: r-code, Compiler, Runtime

check in a documentation reviewer / technical writer agent
  .claude/agents/doc-reviewer.md
Due: none

fix math/log to accept optional base parameter, remove logb
  inst/rye/math.rye
  tests/native/test-math-extended.rye
Due: rye-code

new benchmarks / profiles
  TODO
  benchmarks/profiles/eval-closures-20260210-025153.rds
  benchmarks/profiles/eval-cps-overhead-20260210-025156.rds
  benchmarks/profiles/eval-fibonacci-20260210-025149.rds
  benchmarks/profiles/eval-many-args-20260210-025150.rds
  benchmarks/profiles/eval-map-20260210-025152.rds
  benchmarks/profiles/eval-quicksort-20260210-025153.rds
  benchmarks/profiles/macro-complex-quasiquote-20260210-025135.rds
  benchmarks/profiles/macro-examples-20260210-025142.rds
  benchmarks/profiles/macro-hygiene-20260210-025141.rds
  benchmarks/profiles/macro-nested-20260210-025137.rds
  benchmarks/profiles/macro-tree-walk-20260210-025146.rds
  benchmarks/profiles/parser-deep-nesting-20260210-025131.rds
  benchmarks/profiles/parser-flat-list-20260210-025129.rds
  benchmarks/profiles/parser-nulls-20260210-025134.rds
  benchmarks/profiles/parser-quicksort-20260210-025131.rds
  benchmarks/profiles/parser-quote-sugar-20260210-025133.rds
  benchmarks/profiles/tokenizer-deep-nesting-20260210-025123.rds
  benchmarks/profiles/tokenizer-escapes-20260210-025125.rds
  benchmarks/profiles/tokenizer-fibonacci-20260210-025123.rds
  benchmarks/profiles/tokenizer-large-string-20260210-025122.rds
  benchmarks/profiles/tokenizer-mixed-20260210-025125.rds
  benchmarks/results/baseline-20260210-025120.rds
  benchmarks/results/e2e-20260210-025119.rds
  benchmarks/results/eval-20260210-024832.rds
  benchmarks/results/interop-20260210-024854.rds
  benchmarks/results/macro-20260210-024819.rds
  benchmarks/results/modules-20260210-025003.rds
  benchmarks/results/parser-20260210-024806.rds
  benchmarks/results/stdlib-20260210-024847.rds
  benchmarks/results/tokenizer-20260210-024758.rds
Due: none

fix documentation accuracy and add missing stdlib reference entries
  AGENTS.md
  README.Rmd
  vignettes/rye-vs-scheme.Rmd
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-functional.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-reference.Rmd
  vignettes/stdlib-strings-io.Rmd
Due: none

improve pkgdown site navigation with dropdown menus and descriptions
  _pkgdown.yml
Due: none

add docstrings and clean up formatting
  inst/rye/control.rye
  inst/rye/core.rye
  inst/rye/dict.rye
  inst/rye/display.rye
  inst/rye/equality.rye
  inst/rye/functional.rye
  inst/rye/io.rye
  inst/rye/list.rye
  inst/rye/looping.rye
  inst/rye/math.rye
  inst/rye/r-interop.rye
  inst/rye/sequences.rye
  inst/rye/set.rye
  inst/rye/sort.rye
  inst/rye/strings.rye
  inst/rye/types.rye
Due: rye-code, Stdlib Core, Stdlib Collections, Stdlib Functional

comprehensive documentation audit and improvement
  CONTRIBUTING.md
  NAMESPACE
  NEWS.md
  R/coverage.R
  README.md
  _pkgdown.yml
  man/RyeCoverageTracker.Rd
  vignettes/getting-started.Rmd
  vignettes/internals.Rmd
  vignettes/macros.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-reference.Rmd
  vignettes/troubleshooting.Rmd
Due: r-code

auto-generate stdlib vignettes from annotated .rye source files
  Makefile
  inst/rye/assert.rye
  inst/rye/binding.rye
  inst/rye/control.rye
  inst/rye/conversions.rye
  inst/rye/core.rye
  inst/rye/dict.rye
  inst/rye/display.rye
  inst/rye/equality.rye
  inst/rye/error.rye
  inst/rye/functional.rye
  inst/rye/io.rye
  inst/rye/list.rye
  inst/rye/logic.rye
  inst/rye/looping.rye
  inst/rye/math.rye
  inst/rye/r-interop.rye
  inst/rye/sequences.rye
  inst/rye/set.rye
  inst/rye/sort.rye
  inst/rye/strings.rye
  inst/rye/struct.rye
  inst/rye/threading.rye
  inst/rye/types.rye
  tools/generate-stdlib-docs.R
  tools/stdlib-docs.yml
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-functional.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
Due: rye-code, Stdlib Core, Stdlib Collections, Stdlib Functional

fix missing titles in generated stdlib vignettes
  tools/generate-stdlib-docs.R
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-functional.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
Due: none

add hyperlinked see-also references with stable heading anchors
  tools/generate-stdlib-docs.R
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-functional.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
Due: none

document R-defined builtins in stdlib vignettes
  tools/builtins-docs.yml
  tools/generate-stdlib-docs.R
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
Due: none

rename internal helpers to __ prefix convention
  R/rye-engine.R
  inst/examples/macro-examples.rye
  inst/rye/core.rye
  tests/testthat/test-macros.R
  tools/builtins-docs.yml
  vignettes/stdlib-macro-eval-interop.Rmd
Due: r-code, rye-code, Runtime, Stdlib Core

consolidate documentation into ;;' annotation blocks
  R/compiler.R
  R/doc-parser.R
  R/help-system.R
  R/runtime.R
  R/rye-engine.R
  inst/rye/assert.rye
  inst/rye/binding.rye
  inst/rye/control.rye
  inst/rye/conversions.rye
  inst/rye/core.rye
  inst/rye/dict.rye
  inst/rye/display.rye
  inst/rye/equality.rye
  inst/rye/error.rye
  inst/rye/functional.rye
  inst/rye/io.rye
  inst/rye/list.rye
  inst/rye/logic.rye
  inst/rye/looping.rye
  inst/rye/math.rye
  inst/rye/r-interop.rye
  inst/rye/sequences.rye
  inst/rye/set.rye
  inst/rye/sort.rye
  inst/rye/strings.rye
  inst/rye/struct.rye
  inst/rye/threading.rye
  inst/rye/types.rye
  tests/testthat/test-doc-parser.R
  tests/testthat/test-documentation.R
  tests/testthat/test-help.R
  tools/generate-stdlib-docs.R
Due: r-code, rye-code, Compiler, Runtime, Stdlib Core, Stdlib Collections, Stdlib Functional

organize tools/ into cran/, docs/, and coverage/ subdirectories
  .coverage.yml
  Makefile
  R/doc-parser.R
  inst/design-docs/EXECUTION_COVERAGE.md
  inst/rye/load-order.rds
  tools/coverage/README.md
  tools/coverage/coverage-combine.R
  tools/coverage/rye-coverage.R
  tools/cran/CRAN-CHECKLIST.md
  tools/cran/cran_check.R
  tools/cran/cran_check_summary.txt
  tools/cran/cran_comments.R
  tools/cran/cran_prep.R
  tools/docs/builtins-docs.yml
  tools/docs/generate-stdlib-docs.R
  tools/docs/stdlib-docs.yml
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
Due: r-code, rye-code

promote capture to public API, remove rye_tokenize and rye_parse
  R/rye-engine.R
  inst/examples/macro-examples.rye
  tests/testthat/test-macros.R
  tools/docs/builtins-docs.yml
  vignettes/stdlib-macro-eval-interop.Rmd
Due: r-code, Runtime

move builtins docs to inst/builtins-docs.dcf as single source of truth
  R/rye-engine.R
  R/utils.R
  inst/builtins-docs.dcf
  tools/docs/builtins-docs.yml
  tools/docs/generate-stdlib-docs.R
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-types.Rmd
Due: r-code, Runtime

fix stale cache during development issue
  Makefile
  TODO
Due: none

promote read from stdlib wrapper to engine builtin
  R/rye-engine.R
  inst/builtins-docs.dcf
  inst/rye/io.rye
  vignettes/stdlib-macro-eval-interop.Rmd
  vignettes/stdlib-strings-io.Rmd
Due: r-code, rye-code, Runtime

add test for read as engine builtin without io import
  tests/testthat/test-stdlib-core.R
Due: none

move identical? from engine to equality stdlib module
  R/rye-engine.R
  inst/builtins-docs.dcf
  inst/rye/equality.rye
  vignettes/stdlib-equality.Rmd
Due: r-code, rye-code, Runtime

add write (deparse) as inverse of read for round-trip serialization
  R/parser.R
  R/rye-engine.R
  R/tokenizer.R
  inst/builtins-docs.dcf
  tests/testthat/test-write.R
Due: r-code, Runtime, Parser/Tokenizer

generalize r/eval keyword unshadowing to all R reserved words
  R/rye-engine.R
Due: r-code, Runtime

rename opaque "Option A"/"Option C" cache terminology to "expr cache"/"env cache"
  R/module-cache.R
  R/runtime.R
  R/rye-engine.R
  inst/design-docs/CACHE_INVALIDATION.md
  man/RyeEngine.Rd
  tests/testthat/test-cache-options.R
  tests/testthat/test-module-cache.R
Due: r-code, Runtime, Module System

wrap long @description doc comments to multiline format
  inst/rye/control.rye
  inst/rye/core.rye
  inst/rye/equality.rye
  inst/rye/functional.rye
  inst/rye/list.rye
  inst/rye/math.rye
  inst/rye/sequences.rye
  inst/rye/sort.rye
  inst/rye/types.rye
Due: rye-code, Stdlib Core, Stdlib Collections, Stdlib Functional

expand doc!/doc to support all doc attribute fields as engine builtins
  R/rye-engine.R
  inst/builtins-docs.dcf
  inst/rye/core.rye
  tests/testthat/test-documentation.R
Due: r-code, rye-code, Runtime, Stdlib Core

Path conditions:
  r-code: any of: R/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  rye-code: any of: inst/rye/, tests/native/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Compiler: any of: R/compiler.R, R/macro.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Runtime: any of: R/runtime.R, R/rye-engine.R, R/rye-env.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Parser/Tokenizer: any of: R/parser.R, R/tokenizer.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Module System: any of: R/module-*.R, R/file-deps.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Core: any of: inst/rye/core.rye, inst/rye/types.rye, inst/rye/logic.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Collections: any of: inst/rye/list.rye, inst/rye/dict.rye, inst/rye/set.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Functional: any of: inst/rye/functional.rye, inst/rye/looping.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
