Repository wwbrannon/arl: changes, and which Codecov flags are due for each by the changed paths.
All: r-code, rye-code, Compiler, Runtime, Parser/Tokenizer, Module System, Stdlib Core, Stdlib Collections, Stdlib Functional

codecov.yml:

# Codecov configuration for Rye package
# Handles separate R code and Rye code coverage

# Overall project settings
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    # Overall project coverage
    project:
      default:
        target: auto
        threshold: 2%
        base: auto

    # Per-commit coverage (patch)
    patch:
      default:
        target: 80%
        threshold: 5%

# Flag-specific settings for R vs Rye code
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - name_prefix: ""
        type: project
        target: auto
        threshold: 2%

# Individual flags
flags:
  # R implementation code coverage
  r-code:
    paths:
      - R/
    carryforward: true
    after_n_builds: 1

  # Rye language code coverage
  rye-code:
    paths:
      - inst/rye/
      - tests/native/
    carryforward: true
    after_n_builds: 1

# Component-level coverage tracking
component_management:
  individual_components:
    # R implementation components
    - component_id: compiler
      name: "Compiler"
      paths:
        - R/compiler.R
        - R/macro.R

    - component_id: runtime
      name: "Runtime"
      paths:
        - R/runtime.R
        - R/rye-engine.R
        - R/rye-env.R

    - component_id: parser
      name: "Parser/Tokenizer"
      paths:
        - R/parser.R
        - R/tokenizer.R

    - component_id: modules
      name: "Module System"
      paths:
        - R/module-*.R
        - R/file-deps.R

    # Rye stdlib components
    - component_id: stdlib-core
      name: "Stdlib Core"
      paths:
        - inst/rye/core.rye
        - inst/rye/types.rye
        - inst/rye/logic.rye

    - component_id: stdlib-collections
      name: "Stdlib Collections"
      paths:
        - inst/rye/list.rye
        - inst/rye/dict.rye
        - inst/rye/set.rye

    - component_id: stdlib-functional
      name: "Stdlib Functional"
      paths:
        - inst/rye/functional.rye
        - inst/rye/looping.rye

# Comment settings for PRs
comment:
  layout: "diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  show_carryforward_flags: true

# Ignore certain files
ignore:
  - "tests/**"
  - "benchmarks/**"
  - "vignettes/**"
  - "man/**"
  - "tools/**"
  - "inst/doc/**"

# Parsing settings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

suppress VignetteIndexEntry title mismatch warning for pkgdown articles
  R/knitr-engine.R
  man/arl_html_vignette.Rd
  vignettes/articles/examples-data-analysis.Rmd
  vignettes/articles/examples-fibonacci.Rmd
  vignettes/articles/examples-fizzbuzz.Rmd
  vignettes/articles/examples-graph-paths.Rmd
  vignettes/articles/examples-log-parser.Rmd
  vignettes/articles/examples-macro-examples.Rmd
  vignettes/articles/examples-pipeline-macros.Rmd
  vignettes/articles/examples-quicksort.Rmd
  vignettes/articles/examples-sales-report.Rmd
  vignettes/articles/examples-task-runner.Rmd
Due: r-code

add env var / R option parity for all user-facing settings
  R/cli.R
  R/macro.R
  R/utils.R
  _pkgdown.yml
  inst/arl/display.arl
  man/install_cli.Rd
  vignettes/configuration.Rmd
Due: r-code, Compiler

buildignore index.md
  .Rbuildignore
Due: none

add load_stdlib option to Engine and --no-stdlib to CLI
  R/cli.R
  R/engine.R
  README.Rmd
  README.md
  man/Engine.Rd
  tests/testthat/test-compiler-optimizations.R
  tests/testthat/test-inspect-compilation.R
  tests/testthat/test-parser.R
  tests/testthat/test-source-positions.R
  tests/testthat/test-tokenizer.R
  tests/testthat/test-write.R
  vignettes/getting-started.Rmd
  vignettes/modules.Rmd
  vignettes/stdlib-reference.Rmd
Due: r-code

clean up CoverageTracker exports and test helper
  R/coverage.R
  man/CoverageTracker.Rd
  tests/testthat/helper-engine.R
Due: r-code

correct discussion of bare stdlib in stdlib-reference.Rmd
  tools/docs/generate-stdlib-docs.R
  vignettes/stdlib-reference.Rmd
Due: none

remove CoverageTracker from API reference pages
  _pkgdown.yml
Due: none

rename vignette
  TODO
  _pkgdown.yml
  vignettes/runtime-options.Rmd
Due: none

add self-testing assertions to example files
  inst/examples/data-analysis.arl
  inst/examples/fibonacci.arl
  inst/examples/fizzbuzz.arl
  inst/examples/graph-paths.arl
  inst/examples/log-parser.arl
  inst/examples/macro-examples.arl
  inst/examples/pipeline-macros.arl
  inst/examples/quicksort.arl
  inst/examples/sales-report.arl
  inst/examples/task-runner.arl
  tests/testthat/_snaps/examples.md
  tests/testthat/test-examples.R
Due: none

move badges into footer
  TODO
  index.md
  pkgdown/extra.css
  pkgdown/templates/footer.html
Due: none

Make Engine fields private, add public accessor methods
  R/cli.R
  R/engine.R
  R/knitr-engine.R
  R/repl.R
  benchmarks/bench-codegen-quality.R
  benchmarks/bench-constant-folding-impact.R
  benchmarks/bench-truthiness-optimization.R
  benchmarks/benchmark-helpers.R
  man/Engine.Rd
  tests/README.md
  tests/testthat/helper-engine.R
  tests/testthat/helper-modules.R
  tests/testthat/helper-native.R
  tests/testthat/test-api-boundaries.R
  tests/testthat/test-cache-options.R
  tests/testthat/test-cli.R
  tests/testthat/test-compiler-tco.R
  tests/testthat/test-compiler.R
  tests/testthat/test-doc-parser.R
  tests/testthat/test-documentation.R
  tests/testthat/test-examples.R
  tests/testthat/test-help.R
  tests/testthat/test-import-edge-cases.R
  tests/testthat/test-import-scoping.R
  tests/testthat/test-load.R
  tests/testthat/test-macros.R
  tests/testthat/test-runtime.R
  tests/testthat/test-special-forms.R
  tests/testthat/test-stdlib-core.R
Due: r-code

Remove compiled_only, merge eval_exprs into variadic eval, clean up Engine API
  R/engine.R
  R/runtime.R
  man/Engine.Rd
  tests/testthat/helper-native.R
  tests/testthat/test-compiler-tco.R
  tests/testthat/test-compiler.R
  tests/testthat/test-inspect-compilation.R
  tests/testthat/test-load.R
  tests/testthat/test-macros.R
  tests/testthat/test-runtime.R
  tests/testthat/test-stdlib-assert.R
  tests/testthat/test-stdlib-binding.R
  tests/testthat/test-stdlib-collections.R
  tests/testthat/test-stdlib-control.R
  tests/testthat/test-stdlib-conversions.R
  tests/testthat/test-stdlib-core.R
  tests/testthat/test-stdlib-debug.R
  tests/testthat/test-stdlib-dispatch.R
  tests/testthat/test-stdlib-edge-cases.R
  tests/testthat/test-stdlib-edge-functions.R
  tests/testthat/test-stdlib-edge-list.R
  tests/testthat/test-stdlib-edge-predicates.R
  tests/testthat/test-stdlib-edge-sequences.R
  tests/testthat/test-stdlib-format.R
  tests/testthat/test-stdlib-functional.R
  tests/testthat/test-stdlib-io.R
  tests/testthat/test-stdlib-list.R
  tests/testthat/test-stdlib-looping.R
  tests/testthat/test-stdlib-macros.R
  tests/testthat/test-stdlib-math.R
  tests/testthat/test-stdlib-predicates.R
  tests/testthat/test-stdlib-sequences.R
  tests/testthat/test-stdlib-sort.R
  tests/testthat/test-stdlib-strings.R
  tests/testthat/test-stdlib-struct.R
  tests/testthat/test-stdlib-threading.R
  vignettes/getting-started.Rmd
Due: r-code, Runtime

Inline eval_one and eval_seq into public eval method
  R/engine.R
Due: r-code

Refactor get_coverage to return data frame instead of raw tracker object
  R/engine.R
  man/Engine.Rd
  tests/testthat/test-coverage.R
Due: r-code

Rename Engine file-loading methods and split .__load/.__run helpers
  AGENTS.md
  R/cli.R
  R/compiler.R
  R/engine.R
  R/runtime.R
  README.Rmd
  README.md
  TODO
  man/Engine.Rd
  tests/README.md
  tests/testthat/test-cache-options.R
  tests/testthat/test-coverage.R
  tests/testthat/test-examples.R
  tests/testthat/test-import-scoping.R
  tests/testthat/test-load.R
  vignettes/getting-started.Rmd
  vignettes/r-interop.Rmd
  vignettes/troubleshooting.Rmd
Due: r-code, Compiler, Runtime

Add self-TCO support for set!-bound lambdas (covers letrec)
  R/compiler.R
  inst/examples/fibonacci.arl
  tests/testthat/test-compiler-tco.R
  vignettes/arl-vs-scheme.Rmd
  vignettes/internals.Rmd
  vignettes/stdlib-control.Rmd
  vignettes/tail-call-optimization.Rmd
  vignettes/troubleshooting.Rmd
Due: r-code, Compiler

fix duplication in class docs
  R/engine.R
  man/Engine.Rd
  vignettes/stdlib-control.Rmd
Due: r-code

disable cloning for the moment
  R/engine.R
  man/Engine.Rd
Due: r-code

minor doc fixes
  R/engine.R
  README.Rmd
  README.md
  _pkgdown.yml
  benchmarks/PERFORMANCE.md
  man/Engine.Rd
  tests/README.md
  vignettes/arl-vs-scheme.Rmd
Due: r-code

fix some errors in troubleshooting vignette
  vignettes/troubleshooting.Rmd
Due: none

vignette on documenting functions/macros
  _pkgdown.yml
  vignettes/documenting-functions-macros.Rmd
Due: none

better, more focused getting started doc
  vignettes/getting-started.Rmd
Due: none

fix bug
  _pkgdown.yml
  vignettes/getting-started.Rmd
Due: none

update README
  README.Rmd
  README.md
Due: none

clarify/reduce usage of r/call in examples
  inst/examples/data-analysis.arl
  inst/examples/fibonacci.arl
  inst/examples/fizzbuzz.arl
  inst/examples/graph-paths.arl
  inst/examples/log-parser.arl
  inst/examples/sales-report.arl
  inst/examples/task-runner.arl
Due: none

update readme
  README.Rmd
  README.md
Due: none

fix badges
  README.Rmd
  README.md
Due: none

list doc! and doc in stdlib vignette
  inst/builtins-docs.dcf
  vignettes/stdlib-macro-eval-interop.Rmd
Due: none

add builtins discussion to stdlib overview vignette
  tools/docs/generate-stdlib-docs.R
  vignettes/stdlib-reference.Rmd
Due: none

fix bug that blocked vignette builds with doc!/doc linked
  inst/builtins-docs.dcf
  vignettes/stdlib-macro-eval-interop.Rmd
Due: none

link functions on overview vignette
  tools/docs/generate-stdlib-docs.R
  vignettes/stdlib-reference.Rmd
Due: none

some wording tweaks
  vignettes/examples.Rmd
  vignettes/getting-started.Rmd
Due: none

reorganize stdlib vignettes: 9 → 8 with cleaner grouping
  TODO
  _pkgdown.yml
  inst/arl/control.arl
  inst/arl/conversions.arl
  inst/arl/core.arl
  inst/arl/load-order.txt
  inst/arl/math.arl
  inst/arl/types.arl
  inst/builtins-docs.dcf
  tests/testthat/test-runtime.R
  tools/docs/generate-stdlib-docs.R
  tools/docs/stdlib-docs.dcf
  vignettes/macros.Rmd
  vignettes/stdlib-collections.Rmd
  vignettes/stdlib-control.Rmd
  vignettes/stdlib-conversions.Rmd
  vignettes/stdlib-core.Rmd
  vignettes/stdlib-equality.Rmd
  vignettes/stdlib-list-seq.Rmd
  vignettes/stdlib-math.Rmd
  vignettes/stdlib-reference.Rmd
  vignettes/stdlib-strings-io.Rmd
  vignettes/stdlib-types.Rmd
Due: none

add call/cc tests
  tests/testthat/test-stdlib-core.R
Due: none

add functions vignette covering definition, params, and calling
  _pkgdown.yml
  vignettes/functions.Rmd
  vignettes/getting-started.Rmd
Due: none

list builtins in modules lists on vignette
  tools/docs/generate-stdlib-docs.R
  vignettes/stdlib-reference.Rmd
Due: none

remove old comments
  R/compiler.R
Due: r-code, Compiler

update docs
  vignettes/arl-vs-scheme.Rmd
  vignettes/internals.Rmd
Due: none

allow asserts in documentation of functions
  R/doc-parser.R
Due: r-code
