Repository wwbrannon/arl: changes, and which Codecov flags are due for each by the changed paths.
All: r-code, rye-code, Compiler, Runtime, Parser/Tokenizer, Module System, Stdlib Core, Stdlib Collections, Stdlib Functional

Add destructuring section to functions vignette
  vignettes/functions.Rmd
Due: none

Add unbind-variable to stdlib for removing bindings
  inst/arl/core.arl
  tests/testthat/test-stdlib-core.R
  vignettes/getting-started.Rmd
  vignettes/r-interop.Rmd
Due: none

Add r/eval and substitute sections to r-interop vignette
  vignettes/r-interop.Rmd
Due: none

Fix functions vignette: rename destructuring vars to avoid shadowing R's c()
  vignettes/.build.timestamp
  vignettes/arl-vs-scheme.R
  vignettes/functions.Rmd
Due: none

Convert assert-error and assert-no-error to macros
  TODO
  inst/arl/assert.arl
  tests/native/test-scoping.arl
  tests/testthat/test-stdlib-assert.R
  vignettes/functions.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-reference.Rmd
  vignettes/macros.Rmd
  vignettes/modules.Rmd
  vignettes/r-interop.Rmd
Due: none

update man page from disable_tco change
  man/Engine.Rd
Due: none

Quote character strings in format-value output
  inst/arl/display.arl
  tests/testthat/test-knitr-engine.R
  tests/testthat/test-stdlib-format.R
  vignettes/lang-strings-io.Rmd
Due: none

remove old build artifacts
  TODO
  vignettes/.build.timestamp
  vignettes/arl-vs-scheme.R
Due: none

Add eval_string alias and document it
  R/engine.R
  man/Engine.Rd
  tests/testthat/test-api-boundaries.R
  vignettes/getting-started.Rmd
Due: r-code

bump version number
  DESCRIPTION
Due: none

update vignettes
  TODO
  vignettes/getting-started.Rmd
  vignettes/macros.Rmd
Due: none

remove obsolete docstring extraction code
  R/doc-parser.R
Due: r-code

docs: drop doc! parse heuristic and hydrate docs from runtime
  R/doc-parser.R
  tools/docs/generate-lang-docs.R
  vignettes/documenting-functions-macros.Rmd
Due: r-code

runtime: attach complete annotation docs to functions and macros
  R/compiler.R
  R/macro.R
  R/runtime.R
  tests/testthat/test-documentation.R
  tests/testthat/test-runtime.R
  vignettes/documenting-functions-macros.Rmd
Due: r-code, Compiler, Runtime

Add import-stdlib for Arl and Engine API
  R/engine.R
  inst/builtins-docs.dcf
  man/Engine.Rd
  tests/testthat/test-import-stdlib.R
  vignettes/lang-core.Rmd
  vignettes/lang-reference.Rmd
Due: r-code

Improve help fallback with structured R docs, package selection, tests
  R/compiler.R
  R/engine.R
  R/help-system.R
  R/runtime.R
  man/Engine.Rd
  tests/testthat/test-help.R
Due: r-code, Compiler, Runtime

add discussion of dotted-pair lists
  vignettes/arl-vs-scheme.Rmd
  vignettes/getting-started.Rmd
Due: none

fix example of base R function access
  TODO
  vignettes/r-interop.Rmd
Due: none

fix discussion of R list vs arl list
  TODO
  vignettes/arl-vs-scheme.Rmd
  vignettes/getting-started.Rmd
  vignettes/r-interop.Rmd
  vignettes/troubleshooting.Rmd
Due: none

make run a regular function implemented in terms of a more flexible load special form
  AGENTS.md
  R/compiler.R
  R/engine.R
  R/help-system.R
  R/runtime.R
  README.Rmd
  README.md
  inst/arl/core.arl
  inst/builtins-docs.dcf
  inst/pandoc/arl.xml
  man/Engine.Rd
  tests/testthat/test-compiler.R
  tests/testthat/test-coverage.R
  tests/testthat/test-help.R
  tests/testthat/test-import-scoping.R
  tests/testthat/test-load.R
  tests/testthat/test-runtime.R
  tools/docs/generate-lang-docs.R
  tools/docs/templates/reference.Rmd.jinja
  vignettes/getting-started.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-reference.Rmd
  vignettes/modules.Rmd
  vignettes/r-interop.Rmd
  vignettes/troubleshooting.Rmd
Due: r-code, Compiler, Runtime

convert help, ~, ::, ::: from compiler special forms into built-in functions or fallbacks to R functions
  R/compiler.R
  R/engine.R
  TODO
  inst/builtins-docs.dcf
  tests/testthat/test-compiler.R
  tests/testthat/test-help.R
  tools/docs/templates/reference.Rmd.jinja
  vignettes/arl-vs-scheme.Rmd
  vignettes/getting-started.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-reference.Rmd
  vignettes/r-interop.Rmd
Due: r-code, Compiler

docs: update builtin/special-form docs and derive builtin table from DCF sections
  inst/builtins-docs.dcf
  tools/docs/generate-lang-docs.R
  tools/docs/templates/reference.Rmd.jinja
  vignettes/lang-core.Rmd
  vignettes/lang-reference.Rmd
Due: none

avoid saying builtin functions are in the stdlib in docs
  TODO
  tools/docs/templates/reference.Rmd.jinja
  vignettes/lang-reference.Rmd
Due: none

add docs for special forms and remove stale refs
  AGENTS.md
  R/doc-parser.R
  R/engine.R
  R/help-system.R
  README.Rmd
  README.md
  TODO
  benchmarks/PERFORMANCE.md
  inst/reference-docs.dcf
  tests/testthat/test-doc-parser.R
  tests/testthat/test-help.R
  tools/docs/generate-lang-docs.R
  tools/docs/templates/reference.Rmd.jinja
  vignettes/lang-control.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-functional.Rmd
  vignettes/lang-reference.Rmd
Due: r-code

fix module scoping and macro phase ordering
  R/engine.R
  R/runtime.R
  inst/arl/assert.arl
  inst/arl/control.arl
  inst/arl/dict.arl
  inst/arl/display.arl
  inst/arl/functional.arl
  inst/arl/io.arl
  inst/arl/list.arl
  inst/arl/load-order.txt
  inst/arl/looping.arl
  inst/arl/math.arl
  inst/arl/r-interop.arl
  inst/arl/sequences.arl
  inst/arl/set.arl
  inst/arl/sort.arl
  inst/arl/strings.arl
  inst/arl/struct.arl
  inst/arl/types.arl
  tests/testthat/helper-engine.R
Due: r-code, Runtime

move some functions from math.arl to builtins
  R/engine.R
  inst/arl/math.arl
  inst/reference-docs.dcf
  tests/testthat/test-stdlib-math.R
Due: r-code

update vignettes
  vignettes/lang-core.Rmd
  vignettes/lang-functional.Rmd
  vignettes/lang-list-seq.Rmd
  vignettes/lang-math.Rmd
  vignettes/lang-reference.Rmd
  vignettes/modules.Rmd
Due: none

add regression tests for module scoping and macro phase ordering
  tests/testthat/test-module-scoping.R
Due: none

add builtins-env command and env introspection tests
  R/engine.R
  inst/reference-docs.dcf
  tests/testthat/test-module-scoping.R
Due: r-code

document inherited R functions and baseenv() scoping
  tools/docs/templates/reference.Rmd.jinja
  vignettes/getting-started.Rmd
  vignettes/lang-core.Rmd
  vignettes/lang-reference.Rmd
  vignettes/r-interop.Rmd
Due: none

attach R default packages to Arl's environment chain
  R/engine.R
  tests/testthat/test-module-scoping.R
Due: r-code

remove env and parent params from Engine$new()
  R/cli.R
  R/engine.R
  R/env.R
  man/Engine.Rd
  tests/testthat/test-examples.R
Due: r-code

update docs to reflect default packages visibility
  inst/arl/display.arl
  tools/docs/templates/reference.Rmd.jinja
  vignettes/getting-started.Rmd
  vignettes/lang-reference.Rmd
  vignettes/r-interop.Rmd
Due: none

add Engine$define() for injecting R objects into Arl
  R/engine.R
  man/Engine.Rd
  tests/testthat/test-engine-api.R
  vignettes/getting-started.Rmd
  vignettes/r-interop.Rmd
Due: r-code

add engine API tests and fix r-interop vignette assertion
  tests/testthat/test-engine-api.R
  vignettes/r-interop.Rmd
Due: none

fix module system: simplify load, source-relative imports, cycle detection, export-all
  R/engine.R
  R/runtime.R
  tests/testthat/test-import-edge-cases.R
  tests/testthat/test-load.R
  tests/testthat/test-runtime.R
  vignettes/modules.Rmd
Due: r-code, Runtime

add selective imports (:only/:except/:prefix/:rename) and fix macro scoping
  R/compiler.R
  R/engine.R
  R/macro.R
  R/module-registry.R
  R/runtime.R
  tests/testthat/test-import-selective.R
  tests/testthat/test-stdlib-macros.R
  vignettes/modules.Rmd
Due: r-code, Compiler, Runtime, Module System

narrow stdlib imports to use :only and remove unused imports
  inst/arl/assert.arl
  inst/arl/binding.arl
  inst/arl/control.arl
  inst/arl/conversions.arl
  inst/arl/core.arl
  inst/arl/dict.arl
  inst/arl/display.arl
  inst/arl/equality.arl
  inst/arl/error.arl
  inst/arl/functional.arl
  inst/arl/io.arl
  inst/arl/list.arl
  inst/arl/load-order.txt
  inst/arl/looping.arl
  inst/arl/r-interop.arl
  inst/arl/sequences.arl
  inst/arl/set.arl
  inst/arl/sort.arl
  inst/arl/strings.arl
  inst/arl/struct.arl
  inst/arl/threading.arl
  inst/arl/types.arl
Due: none

mention selective imports in getting-started vignette
  vignettes/getting-started.Rmd
Due: none

Path conditions:
  r-code: any of: R/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  rye-code: any of: inst/rye/, tests/native/, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Compiler: any of: R/compiler.R, R/macro.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Runtime: any of: R/runtime.R, R/rye-engine.R, R/rye-env.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Parser/Tokenizer: any of: R/parser.R, R/tokenizer.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Module System: any of: R/module-*.R, R/file-deps.R, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Core: any of: inst/rye/core.rye, inst/rye/types.rye, inst/rye/logic.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Collections: any of: inst/rye/list.rye, inst/rye/dict.rye, inst/rye/set.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
  Stdlib Functional: any of: inst/rye/functional.rye, inst/rye/looping.rye, but not: tests/**, benchmarks/**, vignettes/**, man/**, tools/**, inst/doc/**
